In [1]:
%matplotlib inline

In [2]:
#Import the dependencies
import pandas as pd
import gmaps
import requests

#Import the API key
from config import weather_api_key, g_key

In [3]:
#Store the CSV you saved created in part one into a DF.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2020-10-22 00:03:11,-24.87,113.63,68.00,64,75,13.87
1,1,Vardo,NO,2020-10-22 00:08:03,70.37,31.11,33.75,88,41,8.03
2,2,Mount Gambier,AU,2020-10-22 00:08:03,-37.83,140.77,57.20,67,72,12.75
3,3,Carrollton,US,2020-10-22 00:08:03,32.95,-96.89,82.40,54,40,17.22
4,4,Teguise,ES,2020-10-22 00:08:04,29.06,-13.56,69.80,83,20,3.36

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
#Configure gmaps to user your Google API key
gmaps.configure(api_key=g_key)

In [6]:
#Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [11]:
#Heatmap of temperature
#Get the lat/long
locations = city_data_df[["Lat", "Lng"]]
#Get the max temp
max_temp = city_data_df["Max Temp"]
#Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
#Add the heatmap layer.
fig.add_layer(heat_layer)

In [12]:
#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
#Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
#Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Carrollton,US,2020-10-22 00:08:03,32.95,-96.89,82.40,54,40,17.22
12,12,Vaini,TO,2020-10-22 00:08:06,-21.20,-175.20,77.00,69,90,16.98
13,13,Bandarbeyla,SO,2020-10-22 00:08:06,9.49,50.81,79.79,60,44,4.92
15,15,San Cristobal,VE,2020-10-22 00:08:06,7.77,-72.22,86.00,62,40,5.82
18,18,Kyela,TZ,2020-10-22 00:08:07,-9.58,33.85,76.73,63,91,1.88
24,24,Acarau,BR,2020-10-22 00:08:09,-2.89,-40.12,79.95,80,42,17.74
27,27,Naze,JP,2020-10-22 00:05:41,28.37,129.48,78.80,88,75,11.41
28,28,Gamba,GA,2020-10-22 00:08:10,-2.65,10.00,76.06,89,100,4.76
29,29,Butaritari,KI,2020-10-22 00:05:35,3.07,172.79,81.90,73,14,9.48
31,31,Bolama,GW,2020-10-22 00:08:11,11.58,-15.47,80.60,94,20,1.12

In [25]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [26]:
#Create DataFrame called hotel_df to store hotel names along with city, county, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
3      Carrollton      US     82.40  32.95  -96.89
12          Vaini      TO     77.00 -21.20 -175.20
13    Bandarbeyla      SO     79.79   9.49   50.81
15  San Cristobal      VE     86.00   7.77  -72.22
18          Kyela      TZ     76.73  -9.58   33.85
24         Acarau      BR     79.95  -2.89  -40.12
27           Naze      JP     78.80  28.37  129.48
28          Gamba      GA     76.06  -2.65   10.00
29     Butaritari      KI     81.90   3.07  172.79
31         Bolama      GW     80.60  11.58  -15.47

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
#Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our lat/long
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotels

{'html_attributions': [],
 'results': [{'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -7.959631999999999, 'lng': 145.7721796},
    'viewport': {'northeast': {'lat': -7.958342719708497,
      'lng': 145.7735632802915},
     'southwest': {'lat': -7.961040680291502, 'lng': 145.7708653197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Elore Lodge',
   'place_id': 'ChIJzxmn7dVr_2gRyEivgNNklTc',
   'plus_code': {'compound_code': '2QRC+4V Kerema, Papua New Guinea',
    'global_code': '6R472QRC+4V'},
   'reference': 'ChIJzxmn7dVr_2gRyEivgNNklTc',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'vicinity': 'Kerema'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -7.959569999999999, 'lng': 145.771667},
    'viewport': {'northeast': {'lat': -7.958303119708496,
      'lng': 145.7729318302915},
     'southwest': {'lat': -7.961001080291501, 'lng': 145.7702338697085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'GMI lodge Kerema',
   'photos': [{'height': 1080,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/115343759996537672251">Ian M. LIVIKO</a>'],
     'photo_reference': 'CmRaAAAAptF0UXTZQvxweGVk5-l-Qz4NLnzeyGGmfYAHcNmN1x_fODYPQ9WBND_k2V27TMeEdv2ZdHVuiyNrVOL8NWcMeVvGOOZZGRLX4e4tSfjDvjfhjijp49BSDU01v9b_Br69EhA9IspbOboePWcmaRgstmVmGhQY-ELpxI19h7C8z5ia2xcu_26jLw',
     'width': 1920}],
   'place_id': 'ChIJq6qqqsVr_2gRzFiyOEbMTko',
   'plus_code': {'compound_code': '2QRC+5M Kerema, Papua New Guinea',
    'global_code': '6R472QRC+5M'},
   'rating': 3.8,
   'reference': 'ChIJq6qqqsVr_2gRzFiyOEbMTko',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 13,
   'vicinity': 'Kerema'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -7.9576769, 'lng': 145.7718949},
    'viewport': {'northeast': {'lat': -7.956332819708498,
      'lng': 145.7736267302915},
     'southwest': {'lat': -7.959030780291502, 'lng': 145.7709287697085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Catholic Lodge Kerema',
   'place_id': 'ChIJa07haPdr_2gRCjQMqbXvPL4',
   'plus_code': {'compound_code': '2QRC+WQ Kerema, Papua New Guinea',
    'global_code': '6R472QRC+WQ'},
   'reference': 'ChIJa07haPdr_2gRCjQMqbXvPL4',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'vicinity': 'Vivian Highway, Kerema'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -7.9624672, 'lng': 145.7715589},
    'viewport': {'northeast': {'lat': -7.961150119708497,
      'lng': 145.7728601302915},
     'southwest': {'lat': -7.963848080291502, 'lng': 145.7701621697085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'Kerema Transit Lodge',
   'photos': [{'height': 3456,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111393694492888930806">Joseph Gabi</a>'],
     'photo_reference': 'CmRaAAAAtVH8GlTIeXZC1eAUQpFUD3YcQY0DUnb5MGTfIQGRNKXZE_VO3DRrFP0Px2A1_HLyqtSMgs2tyAgdKrZ7h8iXpGQq0vEmGAgrpDzgWSmwAvXc396w3HxgwGjCq5BAURcyEhAmgRU-yVsiAsqEx6pIpn5PGhRWBUnCAPnfHHPv5BTSSj7cFMTj7w',
     'width': 4608}],
   'place_id': 'ChIJ7SdV6Kdr_2gRBH8IRcNZ5Zc',
   'plus_code': {'compound_code': '2QQC+2J Kerema, Papua New Guinea',
    'global_code': '6R472QQC+2J'},
   'rating': 3.5,
   'reference': 'ChIJ7SdV6Kdr_2gRBH8IRcNZ5Zc',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'user_ratings_total': 4,
   'vicinity': 'Unnamed Road, Kerema'},
  {'business_status': 'OPERATIONAL',
   'geometry': {'location': {'lat': -7.958738999999999, 'lng': 145.770185},
    'viewport': {'northeast': {'lat': -7.957720119708497,
      'lng': 145.7715848802915},
     'southwest': {'lat': -7.960418080291501, 'lng': 145.7688869197085}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
   'name': 'George Orula Kakaito',
   'place_id': 'ChIJsbW97lxr_2gRr1fu2-uqdhI',
   'plus_code': {'compound_code': '2QRC+G3 Kerema, Papua New Guinea',
    'global_code': '6R472QRC+G3'},
   'reference': 'ChIJsbW97lxr_2gRr1fu2-uqdhI',
   'scope': 'GOOGLE',
   'types': ['lodging', 'point_of_interest', 'establishment'],
   'vicinity': 'Kerema'}],
 'status': 'OK'}

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Carrollton,US,82.40,32.95,-96.89,Days Inn by Wyndham North Dallas/Farmers Branch
12,Vaini,TO,77.00,-21.20,-175.20,Keleti Beach Resort
13,Bandarbeyla,SO,79.79,9.49,50.81,REER XOOSHLE GROUP
15,San Cristobal,VE,86.00,7.77,-72.22,Pirineos
18,Kyela,TZ,76.73,-9.58,33.85,ML Inn
24,Acarau,BR,79.95,-2.89,-40.12,castelo pizzaria
27,Naze,JP,78.80,28.37,129.48,奄美ポートタワーホテル
28,Gamba,GA,76.06,-2.65,10.00,
29,Butaritari,KI,81.90,3.07,172.79,Isles Sunset Lodge
31,Bolama,GW,80.60,11.58,-15.47,Hotel Samaritana

In [33]:
#Add a heatmap of temperature for the vacation spots. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
#store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]